/* index.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Open+Sans:wght@400;600&display=swap");
@import "tailwindcss";

@layer components {
  .title-heading {
    @apply text-4xl font-extrabold text-purple-700 text-center mb-6;
  }

  .nav-link {
    @apply relative block py-2 px-4 text-white bg-gradient-to-r from-blue-500 to-purple-600 
    hover:from-purple-600 hover:to-blue-500 transform hover:scale-105 transition-all duration-300 
    active:bg-blue-700 rounded focus:outline-none focus:ring-2 focus:ring-blue-500;
  }
}


@layer base {
  body {
    font-family: "Roboto", sans-serif; 
  }
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
  left: 0;
}
